# Лабораторна робота №6

# Варіант 1

## Завдання №1
Завантажте набір даних books.csv.
### Код завдання:

In [59]:
import pandas as pd
import re

books = pd.read_csv('books.csv')
books

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin
...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,NaN
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,NaN
208,Animal Farm,"Orwell, George",fiction,classic,180,NaN
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,NaN
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN

## Завдання №2
Створіть новий стовпець "WordsInTitle" із кількістю слів у заголовку.
### Код завдання:

In [54]:
def words_in_title(string):
    return (len(string.split()))
task_2 = books.copy()
task_2['WordsInTitle'] = task_2.apply(lambda x: words_in_title(x.Title), axis=1)
task_2

,Title,Author,Genre,SubGenre,Height,Publisher,WordsInTitle
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley,3
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley,2
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin,4
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins,1
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin,1
...,...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,NaN,3
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,NaN,4
208,Animal Farm,"Orwell, George",fiction,classic,180,NaN,2
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,NaN,2
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN,3

## Завдання №3
Знайдіть автора в імені або прізвищі якого э 3 приголосні поспіль.
### Код завдання:

In [31]:
books.loc[books['Author'].str.extract('.*([qwrtpsdfghjklzxcvbnm]{3})').dropna().index.values, 'Title':'Publisher']

,Title,Author,Genre,SubGenre,Height,Publisher
13,Structure & Interpretation of Computer Programs,"Sussman, Gerald",tech,computer_science,240,MIT Press
18,"New Machiavelli, The","Wells, H. G.",fiction,novel,180,Penguin
26,"Beautiful and the Damned, The","Deb, Siddhartha",nonfiction,history,198,Penguin
28,"Complete Sherlock Holmes, The - Vol I","Doyle, Arthur Conan",fiction,classic,176,Random House
29,"Complete Sherlock Holmes, The - Vol II","Doyle, Arthur Conan",fiction,classic,176,Random House
35,"Farewell to Arms, A","Hemingway, Ernest",fiction,classic,179,Rupa
37,False Impressions,"Archer, Jeffery",fiction,novel,177,Pan
38,"Last Lecture, The","Pausch, Randy",nonfiction,autobiography,197,Hyperion
40,Jurassic Park,"Crichton, Michael",fiction,novel,174,Random House
46,Asami Asami,"Deshpande, P L",fiction,novel,205,Mauj
56,Textbook of Economic Theory,"Stonier, Alfred",tech,economics,242,Pearson
58,Learning OpenCV,"Bradsky, Gary",tech,signal_processing,232,O'Reilly
59,Data Structures Using C & C++,"Tanenbaum, Andrew",tech,computer_science,235,Prentice Hall
62,Let Us C,"Kanetkar, Yashwant",tech,computer_science,213,Prentice Hall
64,Crime and Punishment,"Dostoevsky, Fyodor",fiction,classic,180,Penguin
69,"Raisin in the Sun, A","Hansberry, Lorraine",fiction,novel,175,Penguin
71,"Prisoner of Birth, A","Archer, Jeffery",fiction,novel,176,Pan
73,Ahe Manohar Tari,"Deshpande, Sunita",nonfiction,autobiography,213,Mauj
74,"Last Mughal, The","Dalrymple, William",nonfiction,history,199,Penguin
76,Radiowaril Bhashane & Shrutika,"Deshpande, P L",nonfiction,misc,213,Mauj
77,Gun Gayin Awadi,"Deshpande, P L",nonfiction,misc,212,Mauj
78,Aghal Paghal,"Deshpande, P L",nonfiction,misc,212,Mauj
89,On Education,"Russell, Bertrand",philosophy,education,203,Routledge
92,"Case of the Lame Canary, The","Gardner, Earle Stanley",fiction,novel,179,NaN
102,Beyond the Three Seas,"Dalrymple, William",nonfiction,history,197,Random House
112,History of Western Philosophy,"Russell, Bertrand",philosophy,philosophy,213,Routledge
115,Clash of Civilizations and Remaking of the Wor...,"Huntington, Samuel",nonfiction,history,228,Simon&Schuster
119,To Sir With Love,Braithwaite,fiction,classic,197,Penguin
122,Apulki,"Deshpande, P L",nonfiction,misc,211,NaN
123,Unpopular Essays,"Russell, Bertrand",philosophy,philosophy,198,NaN
126,Char Shabda,"Deshpande, P L",nonfiction,misc,214,NaN
130,"Short History of the World, A","Wells, H G",nonfiction,history,197,NaN
133,Simpsons & Their Mathematical Secrets,"Singh, Simon",science,mathematics,233,NaN
136,"Code Book, The","Singh, Simon",science,mathematics,197,NaN
159,Vyakti ani Valli,"Deshpande, P L",nonfiction,misc,211,NaN
169,Batatyachi Chal,Deshpande P L,fiction,novel,200,NaN
170,Hafasavnuk,Deshpande P L,fiction,novel,211,NaN
171,Urlasurla,Deshpande P L,fiction,novel,211,NaN
172,Pointers in C,"Kanetkar, Yashwant",tech,computer_science,213,NaN
184,"Justice, Judiciary and Democracy","Ranjan, Sudhanshu",nonfiction,legal,224,NaN
186,We the People,Palkhivala,philosophy,philosophy,216,NaN
187,We the Nation,Palkhivala,philosophy,philosophy,216,NaN
190,"History of England, Foundation","Ackroyd, Peter",nonfiction,history,197,NaN
191,City of Djinns,"Dalrymple, William",nonfiction,history,198,NaN
201,Girl with the Dragon Tattoo,"Larsson, Steig",fiction,novel,179,NaN
202,Girl who kicked the Hornet's Nest,"Larsson, Steig",fiction,novel,179,NaN
203,Girl who played with Fire,"Larsson, Steig",fiction,novel,179,NaN
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,NaN

## Завдання №4
Знайдіть прізвище автора книги з найдовшою назвою.
### Код завдання:

In [78]:
task_5 = books.copy()
task_5['TitleLength'] = task_5['Title'].str.len()
task_5[['Author', 'Title', 'TitleLength']].sort_values(by=['TitleLength'], ascending=False).head(1)

,Author,Title,TitleLength
115,"Huntington, Samuel",Clash of Civilizations and Remaking of the Wor...,54

## Завдання №5
Знайдіть книги, у яких першою літерою другого слова в назві є "С".
### Код завдання:

In [237]:
books.loc[books['Title'].str.extract('^\w+ ([C])|$').dropna().index.values, 'Title':'Publisher']

,Title,Author,Genre,SubGenre,Height,Publisher
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
44,"Hidden Connections, The","Capra, Fritjof",science,physics,197,HarperCollins
55,Soft Computing & Intelligent Systems,"Gupta, Madan",tech,data_science,242,Elsevier
75,"Social Choice & Welfare, Vol 39 No. 1",Various,tech,economics,235,Springer
134,Pattern Classification,"Duda, Hart",tech,data_science,241,NaN
138,Final Crisis,NaN,fiction,comic,257,NaN
167,Jim Corbett Omnibus,"Corbett, Jim",nonfiction,history,223,NaN
169,Batatyachi Chal,Deshpande P L,fiction,novel,200,NaN
175,Think Complexity,"Downey, Allen",tech,data_science,230,NaN
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN

## Завдання №6
Знайдіть книги, де в назві є слово, що складається із однієї букви.
### Код завдання:

In [149]:
books.loc[books['Title'].str.extract('([\s]){1}([\w]){1}([\s]){1}').dropna().index.values, 'Title':'Publisher']

,Title,Author,Genre,SubGenre,Height,Publisher
12,Birth of a Theorem,"Villani, Cedric",science,mathematics,234,Bodley Head
47,Journal of a Novel,"Steinbeck, John",fiction,classic,196,Penguin
48,Once There Was a War,"Steinbeck, John",nonfiction,history,196,Penguin
51,In a Free State,"Naipaul, V. S.",fiction,novel,196,Rupa
59,Data Structures Using C & C++,"Tanenbaum, Andrew",tech,computer_science,235,Prentice Hall
60,"Computer Vision, A Modern Approach","Forsyth, David",tech,signal_processing,255,Pearson
120,Half A Life,"Naipaul, V S",fiction,novel,196,NaN
131,"Trembling of a Leaf, The","Maugham, William S",fiction,novel,205,NaN

## Завдання №7
Створіть новий DataFrame з усіма книгами, де в назві є цифри.
### Код завдання:

In [250]:
task_7 = books.loc[books['Title'].str.extract('([.*\d+.*])').dropna().index.values, 'Title':'Publisher']
task_7

,Title,Author,Genre,SubGenre,Height,Publisher
52,Catch 22,"Heller, Joseph",fiction,classic,178,Random House
59,Data Structures Using C & C++,"Tanenbaum, Andrew",tech,computer_science,235,Prentice Hall
75,"Social Choice & Welfare, Vol 39 No. 1",Various,tech,economics,235,Springer
105,"Maugham's Collected Short Stories, Vol 3","Maugham, William S",fiction,classic,171,Vintage
143,"Numbers Behind Numb3rs, The","Devlin, Keith",science,mathematics,202,NaN
144,Superman Earth One - 1,NaN,fiction,comic,259,NaN
145,Superman Earth One - 2,NaN,fiction,comic,258,NaN
153,"Journal of Economics, vol 106 No 3",NaN,science,economics,235,NaN
168,20000 Leagues Under the Sea,"Verne, Jules",fiction,novel,190,NaN

## Завдання №8
В датафреймі, створеному в попередньому завданні створіть новий
стовпець, з числами, що є в назві. Якщо в назві декілька цифр,
об’єднайте їх за допомогою „+“ (наприклад, „39 +1“).
### Код завдання:

In [253]:
task_8 = task_7
def numbers_in_title(string):
    string = "".join(re.findall('[.*[\d]+]*', str(string).lower())) 
######################
task_8['NumbersInTitle'] = task_8.apply(lambda x: numbers_in_title(x.Title), axis=1)

TypeError: 'list' object is not callable