# Лабораторна робота №6

# Варіант 1

## Завдання №1
Завантажте набір даних books.csv.
### Код завдання:

In [6]:
import pandas as pd
import re

books = pd.read_csv('books.csv')
books

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin
...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,NaN
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,NaN
208,Animal Farm,"Orwell, George",fiction,classic,180,NaN
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,NaN
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN

## Завдання №2
Створіть новий стовпець "WordsInTitle" із кількістю слів у заголовку.
### Код завдання:

## Завдання №3
Знайдіть автора в імені або прізвищі якого э 3 приголосні поспіль.
### Код завдання:

## Завдання №4
Знайдіть прізвище автора книги з найдовшою назвою.
### Код завдання:

## Завдання №5
Знайдіть книги, у яких першою літерою другого слова в назві є "С".
### Код завдання:

## Завдання №6
Знайдіть книги, де в назві є слово, що складається із однієї букви.
### Код завдання:

## Завдання №7
Створіть новий DataFrame з усіма книгами, де в назві є цифри.
### Код завдання:

## Завдання №8
В датафреймі, створеному в попередньому завданні створіть новий
стовпець, з числами, що є в назві. Якщо в назві декілька цифр,
об’єднайте їх за допомогою „+“ (наприклад, „39 +1“).
### Код завдання: