In [13]:
import numpy as np
import pandas as pd

# Завдання №1

## df1

In [58]:
model_list = ['Ciaz', 'Alto 800', 'Polo GTI', 'Passat', 'Civic', 'CR-V']

In [65]:
index = [('Suzuki', 'g'), ('Suzuki', 'g'),
       ('Volkswagen', 'g'), ('Volkswagen', 'd'), 
       ('Honda', 'g'), ('Honda', 'd')]
columns = pd.MultiIndex.from_product([['Car']])
index = pd.MultiIndex.from_tuples(index, names= ['Firm', 'Engine'])
df1 = pd.DataFrame(model_list, index=index, columns=columns)
df1

                        Car
Firm       Engine
Suzuki     g           Ciaz
           g       Alto 800
Volkswagen g       Polo GTI
           d         Passat
Honda      g          Civic
           d           CR-V

## df2

In [17]:
car_type_dict = {'Ciaz': 'Sedan',
'Alto 800': 'Hatchback',
'Polo GTI': 'Hatchback',
'Passat': 'Sedan',
'Civic': 'Coupe',
'CR-V': 'SUV'}
df2_car_type = pd.Series(car_type_dict)

In [18]:
length_dict = {'Ciaz': 4900,
'Alto 800': 4502,
'Polo GTI': 4680,
'Passat': 4400,
'Civic': 4380,
'CR-V': 4920}
df2_length = pd.Series(length_dict)

In [19]:
width_dict = {'Ciaz': 1800,
'Alto 800': 1600,
'Polo GTI': 1793,
'Passat': 1600,
'Civic': 1767,
'CR-V': 1796}
df2_width = pd.Series(width_dict)

In [20]:
df2 = pd.DataFrame({'Type': df2_car_type,
                    'Length': df2_length,
                    'Width': df2_width})
df2

               Type  Length  Width
Ciaz          Sedan    4900   1800
Alto 800  Hatchback    4502   1600
Polo GTI  Hatchback    4680   1793
Passat        Sedan    4400   1600
Civic         Coupe    4380   1767
CR-V            SUV    4920   1796

# Завдання №2